In [3]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [5]:
response = requests.get('https://api.covid19india.org/states_daily.json')

In [10]:
temp = response.json()

In [16]:
df = pd.DataFrame(response.json()['states_daily'])

Your output dataframe should look like this:
![](covid.png)

In [ ]:
# YOUR CODE GOES HERE
df

In [ ]:
# PLOT A CHART SHOWING DAILY INCREASE IN CONFIRMED CASES
fig = plt.figure()

In [20]:
df.set_index(['date','status'])[['tt']]

                        tt
date      status
14-Mar-20 Confirmed     81
          Recovered      9
          Deceased       2
15-Mar-20 Confirmed     27
          Recovered      4
...                    ...
23-Jul-20 Recovered  33326
          Deceased     755
24-Jul-20 Confirmed  48894
          Recovered  32514
          Deceased     761

[399 rows x 1 columns]